.col-centered{
    float: none;
    margin: 0 auto;
}
.headerTitle{
	text-align: center;
	color: 'white';
    font-size: 22;
}
.header{
	background-color: 'rgb(0, 132, 255)';
    padding: 20;
    border-top: '12px solid rgb(204, 204, 204)';
}
.formText{
	font-size: calc(10px + 2vmin);
}